<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .icon_de {
            float: left;
        }

        .header {
            padding: 80px;
            text-align: center;
            background: #1abc9c;
            color: white;
        }

        .nnavbar {
            overflow: hidden;
            background-color: #333;
            position: sticky;
            position: -webkit-sticky;
            top: 0;
        }

        /* Style the navigation bar links */
        .nnavbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        /* Right-aligned link */
        .nnavbar a.right {
            float: right;
        }

        /* Change color on hover */
        .nnavbar a:hover {
            background-color: #ddd;
            color: black;
        }

    </style>
</head>

<div class="header">
    <h1>MyFit</h1>
    <p th:text="#{phrase}"></p>
    <div class="icon_de">
        <p><a th:href="@{/customers/profile?lang=en}"><img src="/images/united_kingdom_glossy_square_icon_64.png" width="48" height="40"> </a></p>
    </div>

    <div class="icon_de">
        <p><a th:href="@{/customers/profile?lang=ru}"><img src="/images/russia_glossy_square_icon_64.png" width="48" height="40"></a></p>
    </div>
</div>
<div class="nnavbar">
    <a th:href="@{/profile}" th:text="#{main_page}"></a>
    <a th:href="@{/customers/profile}" class="active" th:text="#{my_page}"></a>
    <a th:href="@{/daily-menus}" th:text="#{food_diary}"></a>
    <a th:href="@{/food-diaries}" th:text="#{journal}"></a>
    <a th:href="@{/products}" th:text="#{product_table}"></a>
    <p th:if="${user!= null}"><a th:href="@{/logout}" class="right" th:text="#{logout}"></a></p>
</div>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1><a th:text="${user.login}"></a></h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3">

            <div>
                <form method="POST" enctype="multipart/form-data" action="/upload">
                    <table>
                        <img th:src="${(photo != null && photo.url != null) ? photo.url : '/images/ava.jpg'}" width="200" height="222"/>
                        <tr>
                            <td><input type="file" name="file"/></td>
                        </tr>
                        <tr>
                            <td><input type="submit" class="btn btn-outline-secondary" th:value="#{upload}"/></td>
                        </tr>

                    </table>
                </form>
            </div>


        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home" th:text="#{my_date}"></a></li>

                <div class="inputButton">
                    <form th:action="@{/customers/{id}/edit (id=${user.id})}" th:method="get">
                        <button type="submit" class="btn btn-outline-secondary"><p th:text="#{edit_date}"></p></button>
                    </form>
                </div>

                <div class="inputButton">
                    <form th:action="@{/profile}" th:method="get">
                        <button type="submit" class="btn btn-outline-secondary"><p th:text="#{back}"></p></button>
                    </form>
                </div>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label><h4 th:text="#{weight}"></h4> <h4><a th:text="${user.weight}"></a></h4></label>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label><h4 th:text="#{height}"></h4> <h4><a th:text="${user.height}"></a></h4></label>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label><h4 th:text="#{age}"></h4> <h4><a th:text="${user.age}"></a></h4></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <h4 th:text="#{activity}"></h4>
                                <h4 th:text="(${user.activity} != null) ? ${user.activity.code} : '---'"></h4>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <h4 th:text="#{sex}"></h4>
                                <h4 th:text="(${user.sex} != null) ? ${user.sex.code} : '---'"></h4>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label>
                                    <h4 th:text="#{bov}"></h4>
                                    <h4 th:if="${user.sex != null}"><a th:text="${user.basicMetabolism}"></a></h4>
                                </label>
                            </div>

                            <!--                            <div class="col-xs-6">-->
                            <!--                                <label > <h4 th:text="#{bov}" ></h4> <h4><p th:if="${user.sex==null}">0</p></h4> </label>-->
                            <!--                                <label > <h4 th:text="#{bov}" ></h4> <h4><a th:text="${user.basicMetabolism}"></a></h4> </label>-->
                            <!--                            </div>-->

                            <div class="col-xs-6">
                                <label><h4 th:text="#{daily_calories_for_low_weight}"></h4> <h4><a th:text="${user.weightLossCalories}"></a></h4></label>
                            </div>

                            <div class="col-xs-6">
                                <label><h4 th:text="#{daily_calories_for_up_weight}"></h4> <h4><a th:text="${user.weightMaintainCalories}"></a></h4></label>
                            </div>

                            <div class="col-xs-6">
                                <label><h4 th:text="#{daily_calories_for_weight}"></h4> <h4><a th:text="${user.weightGainCalories}"></a></h4></label>
                            </div>

                        </div>
                    </form>
                    <hr>

                </div>
                <div class="tab-pane" id="messages">

                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
